<div class="row">
  <div class="col-md-9 mx-auto">
    <div class="card">
      <div class="card-header">
        Registrar transacción
      </div>
      <div class="card-body">
        <form action="/archivo/actualiza_cant_registro/" method="POST">
            
        
          <div class="form-group">
            <input type="text" class="form-control" name="tot_reg" placeholder="tot_reg" value="{{tot_reg}}">
          </div>
          
                  
           <div class="form-group">
          <textarea   name="iduniqcarga" class="form-control">{{iduniqcarga}}</textarea>
        </div>
              

          <button class="btn btn-primary btn-block">
            Terminar para registra la carga 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>