<!--<div class="jumbotron mt-4">
  <h1 class="display-4">AUTORIZACION DEL DEBITO BANCARIO</h1>
  <p class="lead">A través de las cuentas de ahorro, corriente y tarjeta de crédito.</p>
  <hr class="my-4">
  <p>
    Trámite orientado para clientes de las aseguradoras a fin de generar la solicitud y registro de débito bancario para el pago de los seguros.
  </p>
  <a class="btn btn-primary btn-lg" href="http://www.google.com" role="button">Google</a>

   <a href="autorizacion/nueva" class="btn btn-success btn-block">Ingresar</a>
</div>-->