
<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active"   aria-controls="v-pills-home" aria-selected="true">Administración</a>
                    <a class="nav-link"  href="/empresa/add"  role="tab" aria-controls="v-pills-profile" aria-selected="true">Crear empresa</a>
                    <a class="nav-link" href="/empresas"  role="tab"  aria-controls="v-pills-messages" aria-selected="true">Lista de empresas</a>
                    <a class="nav-link" href="/empresasyusuario" role="tab" aria-controls="v-pills-settings" aria-selected="true">Empresa y Usuario</a>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active"  aria-controls="v-pills-home" aria-selected="true">Débito automático</a>
                    <a class="nav-link" href="/archivo/cargar"  role="tab"  aria-controls="v-pills-profile" aria-selected="true">Cargar</a>
                    <a class="nav-link" href="/."  role="tab"  aria-controls="v-pills-messages" aria-selected="true">Descargar</a>
                    <a class="nav-link" href="/." role="tab"  aria-controls="v-pills-settings" aria-selected="true">Aprobar</a>
                </div>
        </div>
    </div>


        <div class="row">
            <div class="col">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active"  aria-controls="v-pills-home" aria-selected="true">Catálogo</a>
                        <a class="nav-link" href="/catalogo/addramo"  role="tab"  aria-controls="v-pills-profile" aria-selected="true">Ramo</a>
                        <a class="nav-link" href="/catalogo/listaderamos"  role="tab"  aria-controls="v-pills-profile" aria-selected="true">Lista de ramos</a>
                        <a class="nav-link" href="/catalogo/addservicio"  role="tab"  aria-controls="v-pills-messages" aria-selected="true">Servicio</a>
                        <a class="nav-link" href="/catalogo/listadeservicios"  role="tab"  aria-controls="v-pills-messages" aria-selected="true">Lista de servicios</a>
                    </div>
            </div>
        </div>

</div>


