<html lang="es">



 <form ref='uploadForm' id='uploadForm' action='/archivo/upload/{{carga._id}}' method='post' encType="multipart/form-data">
 
            <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">Seleccionar archivo</th>
                <th scope="col">Proceso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <input type="file" name="archivotxt" lang="es"/></td>
                    <td>  <input type='submit' value='Cargar'/></td>
                </tr>
                </tbody>
            </table>

</form>

</html>

