  
<div class="jumbotron mt-4">
  <blockquote class="blockquote text-center">
    <p class="lead">LA AUTORIZACION DEL DEBITO BANCARIO</p>
    <p class="lead">SE REGISTRO CON EXITO</p>
       <i class="fas fa-check"></i>
  </blockquote>
  </div>

  